{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}
<div align="center">
    <div class="card card-default p-3 w-75 mt-5">
    
    {% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
    <h1 class="pb-5">Create new Livre</h1>

    {{ include('livre/_form.html.twig') }}
    {% endif %}

    <a align="left" href="{{ path('livre_index') }}" class="fs-4 text-decoration-none"><i class="fas fa-angle-double-left"></i> Back to list</a>
    </div>
</div>
{% endblock %}
